
<section id='footersection'>
 
  <div class="container-fluid" id='footer'>
    <div class="row">
      <div class="col-sm-6" style='valign:top;font-size: 0.8em;'>
        &copy; {{ 'now' | date: "%Y" }} Trustees of <a href="https://www.princeton.edu">Princeton University</a> and Hamza Zafer<br />
      </div>

      <div class="col-sm-6" style="text-align:right;valign:top;">
	<a href="https://www.princeton.edu"><img src="{{ "/assets/images/Princeton-logo-transparent.png" | relative_url }}" height="60"/></a><br />
      </div>
    </div>

</section>
