<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  
  <body>
  <div id="flashcards">
    <div id="mydiv">
      <div class="top">
        <div id="flashcards-title">Title</div>
        <a href="#" class="flashcards-close">&times;</a>
      </div>
      <div class="deck">A</div>
      <div class="tools">
	<button>hi</button><button data-correct="true">ha</button><button>hu</button>      
      </div>
    </div>  
  </div>  

    {%- include header.html -%}

<main class="container main-content" aria-label="Content">


{% for c in site.data.syllabary %}
   {% assign temp = c.ID | plus:0 %}
   {% if temp == page.id %}
     {% assign char = c %}
     {% assign groups = char.group | split: "," %}
   {% endif %}
{% endfor %}


<div class='row' style='margin-top:2em;'>

    <div class='col-sm-3'>
	<h2 class='page-title'>{{ char.character }} <span style='font-size:0.5em;'>({{ char.transliteration }})</span></h2>
    </div>
    <div class='col-sm-9' style='text-align:right;'>
        <img src="../assets/images/sabaic/{{ char.sabaic_image }}" style="box-shadow: 0 .1em .2em rgba(0,0,0,0.05);"/>        
    </div>

</div>

<div class='row'>

    <div class='col-sm-12'>
        <p style='margin-bottom:2em;'>{{char.description}}</p>
        <!--<p><audio controls src="../assets/audio/15.mp3"/></p>-->
    </div>
    
    <div class="col-md-12">
<div id="variant-menu">
{% for co in site.data.syllabary %}
   {% if char.name == co.name %}
     {% if char.character == co.character %} <a href='{{site.baseurl}}/syllables/{{co.ID}}.html' class='active'>{{co.character}}</a>{% endif %}
     {% if char.character != co.character %} <a href='{{site.baseurl}}/syllables/{{co.ID}}.html'>{{co.character}}</a>{% endif %}
   {% endif %}
{% endfor %}
</div>   
    </div>

</div>





<div class='row'>

    <div class='col-sm-5'>
	<div id="animation-viewer">
	<div class="toolbar">
	  <a href='#' class='set_hand script btn active' rel='scribal' data-id='{{ char.ID | prepend: '0000' | slice: -3, 3 }}'>Script</a>
	  <a href='#' class='set_hand cursive btn' rel='cursive' data-id='{{ char.ID | prepend: '0000' | slice: -3, 3 }}'>Cursive</a>
	  <a href='#' class="replay"><img src="../assets/images/arrow-repeat.svg" class='icon'/></a>
	</div>
	<div class="animation"><img src="../assets/images/animations/scribal/{{ char.ID | prepend: '0000' | slice: -3, 3 }}.gif" title='' alt='' style="box-shadow: 0 .1em .2em rgba(0,0,0,0.05);width:100%"/></div>
	</div>
    </div>
    
    <div class='col-sm-7'>

    	<div id='image-gallery'>
	  {% for ex in site.data.examples %}
	     {% if ex.Tags == char.character %} 
	     <div class='image-gallery-tile'><div class='image-gallery-tile-inner'><img src='{{ex.Image}}'/></div></div>
	     {% endif %}
	  {% endfor %}
	</div>



    </div>
</div>

<div class='row' style='margin-top:1em;'>

    <div class='col-sm-12' id="nextprev">
<a class='btn active' href='{{char.previous}}.html'>Previous</a><a class='btn active' href='{{char.next}}.html'>Next</a>
    </div>

</div>


    </main>
    
    {%- include footer.html -%}

  </body>

</html>
